.navbar-dark {
    background-color: #000000a3 !important;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #eaeaea;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: #6bc1ff;
    font-weight: 500;
    border-top: 2px solid #6bc1ff;
    padding-top: 23px;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #6bc1ff;
}

.carousel img {
    height: 100vh;
    object-fit: cover;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #6bc1ff;
    border-radius: 100%;
    padding: 15px;
    height: 50px;
    width: 50px;
    font-size: 12px;
    background-position: 50%;
    background-size: 60% 60%;
}

.features {
    margin-top: 35px;
    margin-bottom: 45px;
}

.feature-icon {
    background: #6bc1ff;
    padding: 32px 32px;
    border-radius: 100%;
    display: block;
    width: 35%;
    margin: auto;
}

.feature-icon i {
    color: #fff;
    font-size: 25px;
}

.feature-title {
    margin-bottom: 15px;
    margin-top:15px;
    font-weight: bold;
}

.mg-b-0 {
    margin-bottom: 0;
}

.mg-b-35 {
    margin-bottom: 35px;
}

.bg-grey {
    background:#4b4b4b;
}